:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --white-background: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --body-text-color: #434455;
  --dark-color: #2e2f42;
  --light-background-color: #f4f4fd;
  --border-cards: #e7e9fc;
  --hover-footer: #31d0aa;
  --icon-customers: #8e8f99;
  --white-modal: #fcfcfc;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--body-text-color);
  background-color: var(--white-background);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==========--------HEADER================== */

.page-header {
  border-bottom: 1px solid var(--border-cards);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--pressed-state);
}

.accent-logo-header {
  color: var(--dark-color);
}

.contacts {
  font-style: normal;
}
.contact-phone-number {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--pressed-state);
}
.linea-header {
  position: relative;
  color: var(--pressed-state);
}

.linea-header::after {
  position: absolute;
  content: "";
  bottom: -1px;
  height: 4px;
  background: var(--pressed-state);
  border-radius: 2px;
  display: block;
  width: 100%;
}

/* ====================== /HEADER =====================*/

/* ================== HERO===================== */

.section-hero {
  background-color: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_backgroud.jpg");
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  border-radius: 4px;
  border: transparent;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.hero-title {
  font-family: var(--primary-font);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 496px;
  margin-bottom: 48px;
}

/* ================== /HERO===================== */

/* ======================SECTION WORK ====================== */
.section-work {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.work-cards {
  width: calc((100% - 72px) / 4);
}

.icon-container-work {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light-background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* ====================/SECTION WORK ====================== */

/* ====================What are we doing ====================== */
.section-doing {
  padding-bottom: 120px;
}

.processing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/* ====================/What are we doing ====================== */

/* ================== Our TEAM===================== */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-cards {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-description {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  text-align: center;
}
.team-text {
  padding: 32px 0;
}
.social-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}

.social-list-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--light-background-color);
}

.social-list-item :hover,
.social-list-item :focus {
  background-color: var(--pressed-state);
}

/* ================== /Our TEAM===================== */
/* ================== CUSTOMERS===================== */
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-link {
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--icon-customers);
  color: var(--icon-customers);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-list :hover,
.customers-list :focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}

/* ================== /CUSTOMERS===================== */

/* ======================FOOTER==================== */
.footer-page {
  background-color: var(--dark-color);
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}

.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-description {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
  max-width: 264px;
}

.accent-logo-footer {
  color: var(--light-background-color);
}
.media-list {
  display: flex;
  gap: 16px;
}
.social-media-heading-input {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.media-list-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-background);
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  background-color: var(--hover-footer);
}
.media-list-icon {
  fill: var(--light-background-color);
}

.input-footer {
  margin-left: 80px;
}
.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer-form {
  width: 264px;
  height: 40px;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--white-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-background);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.input-footer-form::placeholder {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
}

.btn-footer-form {
  font-family: var(--primary-font);
  font-weight: 500;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: none;
}
.icon-footer-form {
  fill: var(--white-background);
}

/* ======================/ FOOTER ==================== */

/* ================= COMPONENTS================= */
.headings-h2 {
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.section-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.section-description {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
/* ================= /COMPONENTS================= */

/* ===================PORTFOLIO=============== */
.container-cards {
  display: flex;
  flex-direction: column;
}
.navigation-page {
  padding-bottom: 120px;
  padding-top: 96px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-portfolio {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light-background-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--border-cards);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white-background);
  background: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.portfolio-cards {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-link {
  display: block;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.overley-position {
  position: relative;
  overflow: hidden;
}

.overley-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
  padding: 40px 32px;
  left: 0;
  transform: translateY(100%);
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overley-cards,
.portfolio-link:focus .overley-cards {
  transform: translateY(0);
}

.portfolio-text-cards {
  padding: 32px 16px;
  border: 1px solid var(--border-cards);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subheadings {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.portfolio-description {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ===================PORTFOLIO=============== */

/* ===================MODAL=============== */
.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px;
  width: 408px;
  min-height: 584px;
  background: var(--white-modal);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--border-cards);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  fill: var(--white-background);
  border: none;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-container {
  margin-bottom: 8px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-text {
  display: block;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-customers);
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand);
}

.moda-field-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.check-text {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-customers);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light-background-color);
}

.input-check:focus + .check-text span {
  border-color: var(--primary-brand);
}

.privacy-link {
  color: var(--primary-brand);
  text-decoration-line: underline;
}

.modal-btn {
  display: block;
  font-family: var(--primary-font);
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--primary-brand);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===================MODAL=============== */
